Package: com.vinlark.chargemode-v
Name: ChargeMode-V
Version: 1.0
Architecture: iphoneos-arm
Description: Simple iPhone charging mode
Homepage: https://repo.vinlark.info
Depiction: https://repo.vinlark.info/cydia/chargemode-v/index.html
Maintainer: Vincent Larkin <vinlark@airmail.cc>
Author: Vincent Larkin <vinlark@airmail.cc>
Sponsor: The Vincent Homebrew <https://vinlark.info>
Section: Tweaks
